<nav class="nav-bar">
    <ul [ngClass]="isActive ? 'nav-list container' : 'nav-list container is-active'">
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/aboutme" >Acerca De</a></li>
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/skills"   >Habilidades</a></li>
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/projects"  >Proyectos</a></li>
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/contact"   >Contácto</a></li>
    </ul>
    <div class="container">
      <button 
      [ngClass]="isActive ? 'hamburger hamburger--vortex hamb-btn' : 'hamburger hamburger--vortex hamb-btn is-active'"
      type="button" 
      (click)="toggleNav()">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </button>
    </div>    
  </nav>
  