<nav class="nav-bar">
    <ul [ngClass]="isActive ? 'nav-list container' : 'nav-list container is-active'">
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/aboutme" >Acerca De</a></li>
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/skills"   >Habilidades</a></li>
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/projects"  >Proyectos</a></li>
      <li class="nav-items" routerLinkActive="in-this-route" (click)="toggleNav()"><a routerLink="/contact"   >Contácto</a></li>
    </ul>
    <div class="container">
      <i class="fa-solid fa-bars hamb-btn" (click)="toggleNav()"></i>
      </div>    
  </nav>
  