<div class="projects-card" *ngFor="let pCard of projectsCard">
    <div class="projects-info">
      <p><span class="underline">Nombre:</span> {{ pCard.nombre }}</p>
      <p>
        <span class="underline">Tecnologias Usadas:</span> {{ pCard.tecnologias }}</p>
      <p>
      <p>
          <span class="underline">Descripcion:</span> {{ pCard.descripcion }}</p>
      <p>
        <a
          href="{{ pCard.url_git }}"
          target="_blank"
          class="button-link"
          >Ir al Repositorio</a
        >
      </p>
      <p>
        <a
          href="{{ pCard.url_web }}"
          target="_blank"
          class="button-link"
          >Ir a la web</a
        >
      </p>
      <p *ngIf="login">
        <mat-icon (click)="editProject(pCard)" class="btn-delete-edit">edit</mat-icon>
        <br>
        <mat-icon (click)="deleteCardProject(pCard)" class="btn-delete-edit">delete</mat-icon>
      </p>
    </div>
    
 </div>
