<div class="add border">
  <form 
    class="form-add"
    #form = "ngForm"
    (submit)="form.form.valid && submitProject(form)"
  >
    <h2 class="form-text">Agregar un nuevo Proyecto</h2>
    <div class="form-container">
      <input
        type="text"
        name="nombre"
        id="nombre"
        class="form-input"
        [(ngModel)]="nombreInput"
        placeholder="Nombre del proyecto"
        required
      />
    </div>
    <label class="input-file form-container">
      <input 
      [disabled]="loading"
      type="file" 
      name="foto" 
      id="fotoProject"
      class="form-input"
      placeholder="Imagen"
      (change)="capturarArchivo($event)"
      />{{(loading) ? 'Cargando' : 'Subir Imagen/portada'}}
    </label>
    <div class="form-container">
      <input 
      type="text" 
      name="tecnologias" 
      id="tecnologias"
      class="form-input" 
      [(ngModel)]="tecnologiasInput"
      placeholder="Tecnologias usadas"
      required
      />
    </div>
    <div class="form-container">
      <input 
      type="text" 
      name="repositorio" 
      id="repositorio" 
      class="form-input"
      [(ngModel)]="repositorioInput"
      placeholder="Repositorio de github"
      required
      />
    </div>
    <div class="form-container">
      <input 
      type="text" 
      name="url" 
      id="url"
      class="form-input"
      [(ngModel)]="urlInput"
      placeholder="Url de la Web"
      required
      />
    </div>
    <div class="form-container">
      <textarea
      type="text" 
      name="descripcion" 
      id="descripcion"
      class="form-input" 
      [(ngModel)]="descripcionInput"
      placeholder="Descripcion"
      cols="30"
      rows="3.5"
      required
      ></textarea>
    </div>

    <div class="form-container form-buttons">
      <button class="button-submit" type="submit">Cargar Proyecto</button>
      <button (click)="volver()" class="button-back">volver</button>
    </div>

  </form>
</div>
