<footer>
  <div class="container">
    <div class="container-footer">
      <div>
        <i class="fa-regular fa-copyright"></i> CopyRight 2022, All right
        reserved
      </div>
      <div>
        <ul>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=100008822837109"
              target="_blank"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/matiasvd._/" target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/matias-villafañe-a08041186/"
              target="_blank"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/teslavmd"
              target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
