<div class="container container-aboutme">
  <h2 class="aboutme-title">Acerca De Mí</h2>
  <div class="aboutme-content border">
    <div class="aboutme-content-text">
      <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
      pariatur quibusdam hic. Ipsum alias non quia veniam vero, sit sunt iste
      laboriosam adipisci, officia nostrum, aliquam ex voluptate hic animi.
      <br>
      <br>
      <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
      pariatur quibusdam hic. Ipsum alias non quia veniam vero, sit sunt iste
      laboriosam adipisci, officia nostrum, aliquam ex voluptate hic animi.


    </div>

    <h3 class="aboutme-title">Educación</h3>

    <div class="aboutme-content-text">
      <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
      pariatur quibusdam hic. Ipsum alias non quia veniam vero, sit sunt iste
      laboriosam adipisci, officia nostrum, aliquam ex voluptate hic animi.
      <br>
      <br>
      <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
      pariatur quibusdam hic. Ipsum alias non quia veniam vero, sit sunt iste
      laboriosam adipisci, officia nostrum, aliquam ex voluptate hic animi.
    </div>
  </div>
</div>


