.container-aboutme{
    margin-bottom: 1rem;
}

.aboutme-title{
    width: 80%;
    margin: 0 auto 1rem;
    text-align: center;
    padding: 25px 0;
    border-bottom: solid 1px #222;

}

.aboutme-content{
    background-color: var(--second-color);
    padding: 1.225rem;
    margin-top: 3rem;
}

textarea.aboutme-content-text{
    min-height: 300px;
}

.aboutme-content-text{
    min-height: 100px;
    background-color: var(--first-color);
    color: #fff;
    font-size: 1.325rem;
    padding: 1.425rem;
    line-height: 2.5rem;
    /* border-radius: .2rem; */
}

.edit{
    width: 100%;
    text-align: end;
}

.align-btn{
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.btn-download{
    padding: .5rem 1rem;
    border-radius: .3rem;
    background: var(--third-color);
    text-decoration: none;
    color: #000;
    margin: 1rem;

}


.btn-download:hover{
    color: var(--third-color);
    background-color: #222;
}

.btn-upload{
    border: none;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: .3rem;
    background: var(--third-color);
    cursor: pointer;
}

.btn-upload:hover{
    background: #000;
    color: var(--third-color);
}



@media screen and (max-width : 700px){
    .aboutme-content-text{
        font-size: 1rem;
        padding: 1rem;
        line-height: 1.5rem;
    }

}