<div class="container container-aboutme">
  <h2 class="aboutme-title">Acerca De Mí</h2>
  <div class="aboutme-content border">
    <div *ngIf="login" class="edit"><i (click)="editarTexto()" class="fa-solid fa-pen-to-square"></i></div>
    <form *ngIf="isEditable" (submit)="cargarTexto(texto)">
      <textarea 
      type="text" 
      name="abotumeText"  
      [(ngModel)]="texto.texto" 
      class="aboutme-content-text" 
      required style="
      resize: none; 
      width: 100%;
      "
      ></textarea>
      <label style="text-align: end; width: 100%;">
        <button type="submit">Subir</button>
      </label>
    </form>
    <div *ngIf="!isEditable" class="aboutme-content-text">
      
        <p>{{texto.texto}}</p>   

    </div>




    <!-- <h3 class="aboutme-title">Educación</h3>

    <div class="edit"><i class="fa-solid fa-pen-to-square"></i></div>
    <div class="aboutme-content text">
      <app-education></app-education>
    </div> -->

  </div>
</div>


<div class="container align-btn">
  <a href="../../../assets/cv.pdf" class="btn-download" download="resumen-matias-villafañe">Descargar resumen</a>
  <a routerLink="/contact" class="btn-download">Contacto</a>
</div>
