<section id="contacto">
<div class="contact-me">
    <h2 class="contact-me-text">Contáctame</h2>
    <div class="contact-me container">
      <div class="contact-me-data">
        <ul>
          <li><h3><i class="fa-solid fa-location-dot"></i> Chilecito, La Rioja, Argentina</h3></li>
          <li><h3><a href="https://wa.me/543825418267" target="_blank" class="btn-wa"><i class="fa-brands fa-whatsapp"></i> +54 3825 418267</a></h3></li>
          <li><h3><i class="fa-solid fa-envelope"></i> matuashaha@gmail.com</h3></li>
          <hr>
        </ul>
      </div>
      <form 
      class="contact-me-form" 
      #form="ngForm"
      method="POST"
      (submit)="form.form.valid && submitContact($event, form)"
      >
        <div class="contact-me-input">
          <label for="Nombre">Nombre:</label>
          <input
            type="text"
            id="Nombre"
            name="nombre"
            [(ngModel)]="nombre"
            required
            placeholder="Nombre de la Empresa/Persona"
          />
        </div>
        <div class="contact-me-input">
          <label for="Email">Email:</label>
          <input 
          type="email" 
          name="email" 
          id="Email" 
          [(ngModel)]="email"
          required
          placeholder="ejemplo@gmail.com" />
        </div> 
        <div class="contact-me-input">
          <label for="Mensaje">Mensaje:</label>
          <textarea
            name="mensaje"
            id="Mensaje"
            placeholder="Mensaje / Consulta"
            required
            cols="30"
            rows="2"
            [(ngModel)]="mensaje"
          ></textarea>
        </div>
  
        <input type="submit" class="button-action" value="Enviar">
      </form>
    </div>
  </div>
</section>
  